{% extends 'base.html' %}

{% load crispy_forms_tags %}


{% block contents %}

{% if message %}
<div class="alert alert-info m-2 w-60" role="alert">
    {{message}}
  </div>
{% endif %}

<!-- Registration Form -->
<h1 class="text-center p-2 "> <u> Requests An Account </u></h1>

 <div class="container">
<form  action='' id="registration-form" method="POST">
    {% csrf_token %}

    {{form|crispy}}
        
                
    <div class=" m-2 text-center">
      <button type="submit" class="btn bg-success text-white ">Create Account</button>
    </div>

</form>
 </div>

{% endblock %}